$accent-colour: #3b94d9;
$light-colour: #697882;
$family-1: 'Roboto', sans-serif;

* {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  font-family: $family-1;
  line-height: 1.4;
  
  height: auto;
  background-color: #ebebeb;
  margin: 0;
}

.tweet {
  border: 1px solid #e1e8ed;
  border-radius: 5px;
  position: relative;
  padding: 20px;
  background-color: #fff;
  width: auto;
  cursor: pointer;
  transition: border-color .1s;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  &:hover {
    border-color: #ccd6dd;

  }
  
  .tweet-head {
    display: flex;
    line-height: 1.2;
    
    .tweet-image {
      display: flex;
      align-items: center;
      margin-right: 9px;
      
      img {
        border-radius: 999px;
        height: 38px;
        width: 38px;
      }
    }
    
    .tweet-author {
      display: flex;
      flex-direction: column;
      justify-content: center;
      
      &:hover .name {
        color: $accent-colour;
      }
      
      .name {
        font-weight: 800;
        transition: color .1s;
      }
      
      .handle {
        color: $light-colour;
        font-size: .875rem;
      }
    }
  }
  
  .tweet-footer {
    .icons {
      .fas {
        color: $light-colour;
        margin-right: 1rem;
        transition: color .1s;
        
        .icon-number {
          font-family: $family-1;
          font-size: 1rem;
          font-weight: normal;
        }
      }
      
      .fa-reply:hover {
        color: $accent-colour;
      }

      .fa-retweet:hover {
        color: #3da50d;
      }

      .fa-heart:hover {
        color: #E0245E;
      }
    }
  }
}

@keyframes refresh {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
a {
  color: black;
}
a:hover {
  color: #E0245E;
}
.searchlit {
  margin-top: 10px;
  height: 30px;
  border-radius: 30px;
  margin-left: 10px;
}
.highlight {
  color: blue;
}
img {
 width: 100%;
 height: auto;
 max-height: 600px;
}
.loadmore {
  background-color: cyan;
  width: 100%;
  max-width: 300px;
  height: 30px;
  color: black;
  border-radius: 5px;
  margin-bottom: 10px;
  border-color: cyan;
}
